<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- General run configuration -->
	<RunConfiguration>
		<EnvironmentVariables>
			<Environment>QA</Environment>
		</EnvironmentVariables>
	</RunConfiguration>
	<!-- Playwright -->
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<ExpectTimeout>30000</ExpectTimeout>
		<LaunchOptions>
			<Headless>true</Headless>
			<Channel></Channel>
		</LaunchOptions>
	</Playwright>
</RunSettings>